---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Pixel Beach">
	<main class="bg-gray-100 w-full rounded-3xl shadow-2xl p-10">
		<section class="ocean-row grid">
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>

			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>

			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>

			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>

			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>

			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>

			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>

			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>

			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>

			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>

			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>

			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>

			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>

			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			<div class="ocean aspect-square"></div>
			
		</section>
		<!-- <button onclick="wave()">button</button> -->
	</main>
</Layout>

<script is:inline>
	// function wave() {
	// 	const row = document.getElementById('wave');
	// 	if (row) {
	// 		row.classList.add('wave')
	// 		console.log('added')
	// 		setTimeout(() => {
	// 			row.classList.remove('wave')
	// 			console.log('removed')
	// 		}, 200);
	// 	}
	// }
</script>

<style lang="scss" scoped>
$ocean-blueDeep: rgb(0, 41, 58);
$ocean-blue: rgb(0, 49, 44);
$ocean-blueLight: rgb(3, 62, 56);
$ocean-blueLighter: rgb(11, 90, 82);
$ocean-blueLightest: rgb(150, 206, 180);
$sand: rgb(255, 204, 92);

.ocean-row {
	display: grid;
	grid-template-columns: repeat(40, 1fr);
}
.ocean {
	position: relative;
	background: $ocean-blue;
	// animation: 10000ms ocean infinite steps(1, end);
	&:nth-child(5n) {animation-delay: -2500ms;}
	&:nth-child(6n) {animation-delay: -3000ms;}
	&:nth-child(22n-8) {animation-delay: -7000ms;}
	&:nth-child(15n-1) {animation-delay: -900ms;}
	&:nth-child(18n-9) {animation-delay: -200ms;}
	&:nth-child(37n-34) {animation-delay: -4500ms;}
	&:nth-child(16n+7) {animation-delay: -8500ms;}
	&:nth-child(13n-7) {animation-delay: -5500ms;}
	&:nth-child(24n-22) {animation-delay: -3500ms;}

	&:nth-child(20n-19) {
		animation-delay: -100ms;
	}
	&:nth-child(20n-18) {
		animation-delay: -200ms;
	}
	&:nth-child(20n-17) {
		animation-delay: -300ms;
	}
	&:nth-child(20n-16) {
		animation-delay: -400ms;
	}
	&:nth-child(20n-15) {
		animation-delay: -500ms;
	}
	&:nth-child(20n-14) {
		animation-delay: -600ms;
	}
	&:nth-child(20n-13) {
		animation-delay: -700ms;
	}
	&:nth-child(20n-12) {
		animation-delay: -800ms;
	}
	&:nth-child(20n-11) {
		animation-delay: -900ms;
	}
	&:nth-child(20n-10) {
		animation-delay: -1000ms;
	}
	&:nth-child(20n-9) {
		animation-delay: -1100ms;
	}
	&:nth-child(20n-8) {
		animation-delay: -1200ms;
	}
	&:nth-child(20n-7) {
		animation-delay: -1300ms;
	}
	&:nth-child(20n-6) {
		animation-delay: -1400ms;
	}
	&:nth-child(20n-5) {
		animation-delay: -1500ms;
	}
	&:nth-child(20n-4) {
		animation-delay: -1600ms;
	}
	&:nth-child(20n-3) {
		animation-delay: -1700ms;
	}
	&:nth-child(20n-2) {
		animation-delay: -1800ms;
	}
	&:nth-child(20n-1) {
		animation-delay: -1900ms;
	}
	&:nth-child(20n) {
		animation-delay: -2000ms;
	}

	&::after {
		content: '';
		position: absolute;
		inset: 0;
		animation: 10000ms wave infinite steps(1, end);
	}
}

@keyframes ocean {
	0% {background: $ocean-blue;}
	10% {background: $ocean-blueDeep;}
	20% {background: $ocean-blue;}
	30% {background: $ocean-blueDeep;}
	40% {background: $ocean-blue;}
	50% {background: $ocean-blueDeep;}
	60% {background: $ocean-blueLight;}
	70% {background: $ocean-blue;}
	80% {background: $ocean-blueDeep;}
	90% {background: $ocean-blue;}
	100% {background: $ocean-blueLight;}
}
@keyframes wave {
	0% {background: rgb(255,255,255);}
	10% {background: $ocean-blueLightest;}
	20% {background: $ocean-blueLighter;}
	30% {background: transparent;}
}
</style>
